body{
	margin:0;
	width:100%;
	height: 100%;
}
.header{
	height: 100px;

}

h1{
	margin-top: 0px;
	color: #8CA589;
	font-size: 62px;
	box-shadow: 0px 57px 65px rgba(218, 228, 220, 0.1);
}
.site{
	
    background-image: url(http://www.takefoto.ru/userfiles/image/Dlya%20Statey/10.12.2012/dof/Hud_object_09-Hi-dof-wallpaper-HD.jpeg);
    background-repeat: no-repeat;
	background-size: 1500px 1200px;
	width: 100%;
	height: 800px;
	text-align: center;

}
header ul{
    margin: 0px;
}
.image{
	margin: 20px;
	display: inline-block;
	box-shadow:10px 15px 13px rgb(16, 67, 1);
}
#lightbox{
    background-color: rgba(4, 29, 0, 0.69);
    padding: 10px;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    }
#lightboxDetails{
    font-size: 0.8em;
    padding-top: 0.4em;
    }
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
 
#lightbox img{ border: none; }
#overlay img{ border: none; }

#pagination_page{
	display: inline-block;
    font-size: 20px;
    margin-right: 35px;

}
.page{
	padding: 3px;
	display: inline-block;
	background-color: #fff;
}
.page a{
	text-decoration: none;
	color: #000;
}
a{
	text-decoration: none;	
	color: #C9D6C9;
	font-size: 20px;

}
.add{
	color: #C9D6C9;
	font-size: 20px;

}
a:hover{
	color: #05EF05;
	font-size: 25px;

}
form{
	padding-top: 50px;
	border-radius: 10px;
}
input:hover{
	background-color: #05EF05;
	border-radius: 10px;
}


#eclipse
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    display: none;

}

#img
{
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 900px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 200px;

}
#out_img
{
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 900px;
    height: 100%;
}